{{ define "title" }}
  {{ .Title }}/{{ .Site.Title }}
{{ end }}

{{ define "main" }}

  {{ $pages := .Pages.ByPublishDate.Reverse }}
  {{ $size := len $pages }}

  <section>
    <h1 class="section-title"> Current Challenges </h1>
    <div class="masonry-container">
      {{ range first 3 $pages }}
      <a class="masonry-item" href="{{ .Permalink }}">
        <div class="masonry-item-coverimg">
          {{ if .Params.coverimg }} <img src="{{ .Params.coverimg }}" alt="{{ .Title }}" width="100%" height="150"> {{ end }}
        </div>
        <div class="masonry-item-body">
          <h1 class="masonry-item-title"> {{ upper .Title }} </h1>
          <div class="masonry-item-text"> {{ .Params.description | default .Summary }} </div>          
        </div>
      </a>
      {{ end }}
    </div>

  </section>

  {{ if gt (len $pages) 3 }}
  <section>
    <h1 class="section-title"> Past Challenges </h1>
    <div class="masonry-container">
      {{ range last (sub $size 3) $pages }}
      <a class="masonry-item masonry-item-small" href="{{ .Permalink }}">
        <div class="masonry-item-coverimg">
          {{ if .Params.coverimg }} <img src="{{ .Params.coverimg }}" alt="{{ .Title }}" width="100%" height="150"> {{ end }}
        </div>
        <div class="masonry-item-body">
          <h1 class="masonry-item-title"> {{ upper .Title }} </h1>          
        </div>
      </a>
      {{ end }}
    </div>
  </section>
  {{ end }}

{{ end }}